<a href="https://colab.research.google.com/github/giodp2408/P2T3/blob/main/Ejercicio8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Ejercicio 8**

###### Los ficheros emisiones-2016.csv, emisiones-2017.csv, emisiones-2018.csv y emisiones-2019.csv, contienen datos sobre las emisiones contaminates en la ciudad de Madrid en los a√±os 2016, 2017, 2018 y 2019 respectivamente. Escribir un programa con los siguientes requisitos:

#### 1. Generar un DataFrame con los datos de los cuatro ficheros.

In [1]:
# Se importa las librerias necesarias
import pandas as pd
import pandas as pd
import numpy as np
import datetime as dt

# Generar un DataFrame con los datos de los cuatro ficheros
emisiones_2016 = pd.read_csv('https://raw.githubusercontent.com/giodp2408/P2T3/main/Archivos/emisiones-2016.csv', sep = ';')
emisiones_2017 = pd.read_csv('https://raw.githubusercontent.com/giodp2408/P2T3/main/Archivos/emisiones-2017.csv', sep = ';')
emisiones_2018 = pd.read_csv('https://raw.githubusercontent.com/giodp2408/P2T3/main/Archivos/emisiones-2018.csv', sep = ';')
emisiones_2019 = pd.read_csv('https://raw.githubusercontent.com/giodp2408/P2T3/main/Archivos/emisiones-2019.csv', sep = ';')
emisiones = pd.concat([emisiones_2016, emisiones_2017, emisiones_2018, emisiones_2019])
emisiones

      PROVINCIA  MUNICIPIO  ESTACION  MAGNITUD  ...    D30  V30   D31  V31
0            28         79         4         1  ...    9.0    V   9.0    V
1            28         79         4         1  ...    0.0    N   0.0    N
2            28         79         4         1  ...   10.0    V   8.0    V
3            28         79         4         1  ...    8.0    V   0.0    N
4            28         79         4         1  ...    7.0    V   7.0    V
...         ...        ...       ...       ...  ...    ...  ...   ...  ...
1831         28         79        60        14  ...  108.0    V  98.0    V
1832         28         79        60        14  ...   55.0    V   0.0    N
1833         28         79        60        14  ...   19.0    V  47.0    V
1834         28         79        60        14  ...   56.0    V   0.0    N
1835         28         79        60        14  ...    5.0    V   4.0    V

[7266 rows x 69 columns]

#### 2. Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD, A√ëO, MES y las correspondientes a los d√≠as D01, D02, etc.

In [2]:
# Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD, A√ëO, MES y las correspondientes a los d√≠as D01, D02, etc. 
columnas = ['ESTACION', 'MAGNITUD', 'ANO', 'MES']
columnas.extend([col for col in emisiones if col.startswith('D')])
emisiones = emisiones[columnas]
emisiones

      ESTACION  MAGNITUD   ANO  MES   D01  ...   D27   D28   D29    D30   D31
0            4         1  2016    1   8.0  ...   9.0   7.0   8.0    9.0   9.0
1            4         1  2016    2  12.0  ...   7.0   8.0   9.0    0.0   0.0
2            4         1  2016    3  11.0  ...   8.0   7.0   8.0   10.0   8.0
3            4         1  2016    4   8.0  ...   9.0   8.0   8.0    8.0   0.0
4            4         1  2016    5   7.0  ...   7.0   7.0   7.0    7.0   7.0
...        ...       ...   ...  ...   ...  ...   ...   ...   ...    ...   ...
1831        60        14  2019    8  94.0  ...  88.0  90.0  99.0  108.0  98.0
1832        60        14  2019    9  88.0  ...  54.0  68.0  70.0   55.0   0.0
1833        60        14  2019   10  44.0  ...  28.0  33.0  16.0   19.0  47.0
1834        60        14  2019   11  41.0  ...  55.0  52.0  47.0   56.0   0.0
1835        60        14  2019   12  47.0  ...  17.0  13.0  14.0    5.0   4.0

[7266 rows x 35 columns]

#### 3. Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los d√≠as aparezcan en una √∫nica columna.

In [3]:
# Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los d√≠as aparezcan en una √∫nica columna.
emisiones = emisiones.melt(id_vars=['ESTACION', 'MAGNITUD', 'ANO', 'MES'], var_name='DIA', value_name='VALOR')
emisiones

        ESTACION  MAGNITUD   ANO  MES  DIA  VALOR
0              4         1  2016    1  D01    8.0
1              4         1  2016    2  D01   12.0
2              4         1  2016    3  D01   11.0
3              4         1  2016    4  D01    8.0
4              4         1  2016    5  D01    7.0
...          ...       ...   ...  ...  ...    ...
225241        60        14  2019    8  D31   98.0
225242        60        14  2019    9  D31    0.0
225243        60        14  2019   10  D31   47.0
225244        60        14  2019   11  D31    0.0
225245        60        14  2019   12  D31    4.0

[225246 rows x 6 columns]

#### 4. A√±adir una columna con la fecha a partir de la concatenaci√≥n del a√±o, el mes y el d√≠a (usar el m√≥dulo datetime).

In [4]:
# Crear una nueva columna con las fechas a partir del a√±o, mes y d√≠a
# Primero eliminamos el caracter D del comienzo de la columna de los d√≠as
emisiones['DIA'] = emisiones.DIA.str.strip('D')
# Concatenamos las columnas del a√±o, mes y d√≠a
emisiones['FECHA'] = emisiones.ANO.apply(str) + '/' + emisiones.MES.apply(str) + '/' + emisiones.DIA.apply(str)
# Convertimos la nueva columna al tipo fecha
emisiones['FECHA'] = pd.to_datetime(emisiones.FECHA, format='%Y/%m/%d', infer_datetime_format=True, errors='coerce')
emisiones

        ESTACION  MAGNITUD   ANO  MES DIA  VALOR      FECHA
0              4         1  2016    1  01    8.0 2016-01-01
1              4         1  2016    2  01   12.0 2016-02-01
2              4         1  2016    3  01   11.0 2016-03-01
3              4         1  2016    4  01    8.0 2016-04-01
4              4         1  2016    5  01    7.0 2016-05-01
...          ...       ...   ...  ...  ..    ...        ...
225241        60        14  2019    8  31   98.0 2019-08-31
225242        60        14  2019    9  31    0.0        NaT
225243        60        14  2019   10  31   47.0 2019-10-31
225244        60        14  2019   11  31    0.0        NaT
225245        60        14  2019   12  31    4.0 2019-12-31

[225246 rows x 7 columns]

#### 5. Eliminar las filas con fechas no v√°lidas (utilizar la funci√≥n isnat del m√≥dulo numpy) y ordenar el DataFrame por estaciones, contaminantes y fecha.

In [5]:
# Eliminar las filas con fechas no v√°lidas
emisiones = emisiones.drop(emisiones[np.isnat(emisiones.FECHA)].index)
# Ordenar el el dataframe por estaci√≥n, magnitud y fecha
emisiones.sort_values(['ESTACION', 'MAGNITUD', 'FECHA'])

        ESTACION  MAGNITUD   ANO  MES DIA  VALOR      FECHA
0              4         1  2016    1  01    8.0 2016-01-01
7266           4         1  2016    1  02    7.0 2016-01-02
14532          4         1  2016    1  03    6.0 2016-01-03
21798          4         1  2016    1  04    6.0 2016-01-04
29064          4         1  2016    1  05    7.0 2016-01-05
...          ...       ...   ...  ...  ..    ...        ...
196181        60        14  2019   12  27   17.0 2019-12-27
203447        60        14  2019   12  28   13.0 2019-12-28
210713        60        14  2019   12  29   14.0 2019-12-29
217979        60        14  2019   12  30    5.0 2019-12-30
225245        60        14  2019   12  31    4.0 2019-12-31

[221158 rows x 7 columns]

#### 6. Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame.

In [6]:
# Mostrar las estaciones disponibles
print('Estaciones:', emisiones.ESTACION.unique())
# Mostrar los contaminantes disponibles
print('Contaminantes:', emisiones.MAGNITUD.unique())

Estaciones: [ 4  8 11 16 17 18 24 27 35 36 38 39 40 47 48 49 50 54 55 56 57 58 59 60]
Contaminantes: [ 1  6  7  8 12  9 10 14 20 30 35 42 43 44]

#### 7. Crear una funci√≥n que reciba una estaci√≥n, un contaminante y un rango de fechas y devuelva una serie con las emisiones del contaminante dado en la estaci√≥n y rango de fechas dado.

In [7]:
# Funci√≥n que devuelve las emisiones de un contaminante dado en una estaci√≥n y rango de fechas dado.
def evolucion(estacion, contaminante, desde, hasta):
    return emisiones[(emisiones.ESTACION == estacion) & (emisiones.MAGNITUD == contaminante) & (emisiones.FECHA >= desde) & (emisiones.FECHA <= hasta)].sort_values('FECHA').VALOR
evolucion(56, 8, dt.datetime.strptime('2018/10/25', '%Y/%m/%d'), dt.datetime.strptime('2019/02/12', '%Y/%m/%d'))

179559    89.0
186825    87.0
194091    46.0
201357    38.0
208623    29.0
          ...
57841     82.0
65107     64.0
72373     26.0
79639     59.0
86905     71.0
Name: VALOR, Length: 111, dtype: float64

#### 8. Mostrar un resumen descriptivo (m√≠mino, m√°ximo, media, etc) para cada contaminante.

In [8]:
# Resumen descriptivo por contaminantes
emisiones.groupby('MAGNITUD').VALOR.describe()

            count       mean         std   min    25%    50%    75%       max
MAGNITUD
1         14610.0   7.428953    7.012504  0.00   4.00   7.00  10.00    610.00
6         14610.0   0.350233    0.215935  0.00   0.20   0.30   0.40     14.90
7         35064.0  20.446412  135.123509  0.00   4.00   9.00  23.00  24742.00
8         35064.0  37.677618   20.118050  0.00  22.00  35.00  50.00    148.00
9          8948.0  10.087729   10.643591  0.00   6.00   9.00  13.00    850.00
10        17897.0  18.772923   35.723619  0.00  10.00  16.00  24.00   4481.00
12        35064.0  67.959417   61.443940  0.00  29.00  48.00  84.00   1005.00
14        20454.0  49.941772   24.753120  0.00  31.00  52.00  69.00    336.00
20         8766.0   2.364944    4.236706  0.00   0.80   1.60   2.80    195.00
30         8766.0   0.531371    0.538180  0.00   0.20   0.40   0.70     15.10
35         8766.0   0.479751    1.183618  0.00   0.10   0.20   0.50     35.70
42         4383.0   1.400897    0.251836 -0.01   1.25   1.38   1.54      3.09
43         4383.0   1.292923    0.230898 -0.14   1.17   1.28   1.43      2.77
44         4383.0   0.108941    0.068776  0.00   0.06   0.10   0.14      1.31

#### 9. Mostrar un resumen descriptivo para cada contaminente por distritos.

In [9]:
# Resumen descriptivo por contaminantes y distritos
emisiones.groupby(['ESTACION', 'MAGNITUD']).VALOR.describe()

                    count       mean        std  min   25%   50%    75%    max
ESTACION MAGNITUD
4        1         1461.0   7.329911  16.379050  1.0   4.0   7.0    9.0  610.0
         6         1461.0   0.411499   0.172902  0.1   0.3   0.4    0.5    1.3
         7         1461.0  31.939767  37.667968  0.0   8.0  16.0   42.0  239.0
         8         1461.0  44.398357  17.766063  0.0  31.0  43.0   55.0  105.0
         12        1461.0  93.341547  72.436531  0.0  44.0  69.0  119.0  467.0
...                   ...        ...        ...  ...   ...   ...    ...    ...
60       7         1461.0  12.326489  19.593109  1.0   2.0   4.0   12.0  151.0
         8         1461.0  31.125941  18.101896  3.0  18.0  27.0   41.0  101.0
         10        1461.0  17.033539  12.205022  1.0   9.0  14.0   21.0  215.0
         12        1461.0  50.023956  45.933843  6.0  22.0  33.0   60.0  328.0
         14        1461.0  60.718001  26.309952  4.0  42.0  65.0   81.0  119.0

[153 rows x 8 columns]

#### 10. Crear una funci√≥n que reciba una estaci√≥n y un contaminante y devuelva un resumen descriptivo de las emisiones del contaminante indicado en la estadi√≥n indicada.

In [10]:
# Funci√≥n que devuelve un resumen descriptivo de la emisiones en un contaminante dado en un estaci√≥n dada
def resumen(estacion, contaminante):
    return emisiones[(emisiones.ESTACION == estacion) & (emisiones.MAGNITUD == contaminante)].VALOR.describe()

# Resumen de Di√≥xido de Nitr√≥geno en Plaza El√≠ptica
print('Resumen Di√≥xido de Nitr√≥geno en Plaza El√≠ptica:\n', resumen(56, 8),'\n', sep='')
# Resumen de Di√≥xido de Nitr√≥geno en Plaza del Carmen
print('Resumen Di√≥xido de Nitr√≥geno en Plaza del Carmen:\n', resumen(35, 8), sep='')

Resumen Di√≥xido de Nitr√≥geno en Plaza El√≠ptica:
count    1461.000000
mean       55.113621
std        21.911483
min         0.000000
25%        39.000000
50%        53.000000
75%        69.000000
max       142.000000
Name: VALOR, dtype: float64

Resumen Di√≥xido de Nitr√≥geno en Plaza del Carmen:
count    1461.000000
mean       43.260096
std        16.384656
min         0.000000
25%        32.000000
50%        43.000000
75%        54.000000
max        96.000000
Name: VALOR, dtype: float64

#### 11. Crear una funci√≥n que devuelva las emisiones medias mensuales de un contaminante y un a√±o dados para todos las estaciones.

#### 12. Crear un funci√≥n que reciba una estaci√≥n de medici√≥n y devuelva un DataFrame con las medias mensuales de los distintos tipos de contaminantes.

In [11]:
# Funci√≥n que devuelve una serie con las emisiones medias mensuales de un contaminante y un mes a√±o para todos las estaciones
def evolucion_mensual(contaminante, a√±o):
    return emisiones[(emisiones.MAGNITUD == contaminante) & (emisiones.ANO == a√±o)].groupby(['ESTACION', 'MES']).VALOR.mean().unstack('MES')

# Evoluci√≥n del di√≥xido de nitr√≥geno en 2019
evolucion_mensual(8, 2019)

MES              1          2          3   ...         10         11         12
ESTACION                                   ...
4         61.129032  62.000000  44.677419  ...  33.451613  21.800000  40.806452
8         74.516129  77.071429  57.064516  ...  55.000000  42.033333  49.870968
11        58.516129  59.571429  37.709677  ...  48.451613  31.800000  47.612903
16        54.387097  56.892857  35.451613  ...  41.935484  29.500000  40.677419
17        65.967742  70.142857  43.161290  ...  47.774194  30.566667  44.516129
18        55.161290  54.821429  35.645161  ...  41.225806  25.400000  39.193548
24        37.516129  38.464286  21.645161  ...  27.000000  12.166667  26.258065
27        47.580645  48.214286  35.709677  ...  49.000000  30.133333  45.774194
35        54.548387  51.857143  31.903226  ...  45.193548  30.133333  41.483871
36        58.870968  58.678571  37.645161  ...  43.838710  32.300000  43.354839
38        62.193548  59.357143  38.032258  ...  47.064516  29.200000  45.870968
39        63.354839  62.214286  37.483871  ...  47.290323  27.133333  42.774194
40        58.967742  57.357143  36.387097  ...  44.580645  30.966667  41.709677
47        53.548387  52.571429  36.322581  ...  43.645161  26.733333  39.193548
48        55.709677  57.178571  34.677419  ...  43.967742  33.666667  43.000000
49        45.580645  42.035714  25.870968  ...  31.838710  22.200000  33.935484
50        57.741935  56.214286  36.741935  ...  44.709677  31.766667  41.709677
54        60.774194  59.321429  38.354839  ...  46.967742  32.900000  45.967742
55        63.548387  61.750000  44.161290  ...  45.000000  27.833333  44.064516
56        77.483871  82.428571  61.064516  ...  57.225806  35.133333  51.903226
57        53.967742  52.321429  31.290323  ...  37.806452  26.000000  38.193548
58        24.774194  24.071429  15.483871  ...  21.645161  11.900000  18.935484
59        39.064516  40.964286  25.322581  ...  35.290323  23.400000  32.387097
60        42.032258  44.750000  25.129032  ...  20.806452  15.733333  42.870968

[24 rows x 12 columns]