<a href="https://colab.research.google.com/github/giodp2408/P2T3/blob/main/Ejercicio4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Ejercicio 4**

###### Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla.

In [2]:
# Se importa la libreria
import pandas as pd

# En una variable se almacena los datos de la tabla
datos = {'Mes':['Enero', 'Febrero', 'Marzo', 'Abril'], 'Ventas':[30500, 35600, 28300, 33900], 'Gastos':[22000, 23400, 18100, 20700]}
# Con pandas, la tabla se almacena en un DataFrame
resultado = pd.DataFrame(datos)
# Se imprime el DataFrame
print(resultado)

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700